<footer class="site-footer">

    <div class="wrapper">

        <ul class="contact-list">
            <li>
                <address>
              <p>{{ site.address }}</p>
            </address>
            </li>
        </ul>

        <div class="footer-text">
            <p>
                Digital Media Design
                <br> Graduate Exhibition
                <br> 23 - 24 June 2017</p>
        </div>
    </div>

</footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="/js/jquery.history.js"></script>
<script src="/js/modal.js"></script>
