/**
* Site header
*/

.site-header {
    min-height: 80px;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    line-height: 80px;
    float: left;
    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 80px;
    .menu-icon {
        display: none;
    }
    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
            >svg {
                width: 18px;
                height: 15px;
                path {
                    fill: $grey-color-dark;
                }
            }
        }
        .trigger {
            clear: both;
            display: none;
        }
        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }
        .page-link {
            display: block;
            padding: 5px 10px;
            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}


/**
* Site footer
*/

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width: calc(50% - (#{$spacing-unit} / 2));
    }
    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
* Page content
*/

.page-content {
    padding: 0 0 $spacing-unit;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    >li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
* Posts
*/

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    h2 {
        font-size: 32px;
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }
    h3 {
        font-size: 26px;
        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }
    h4 {
        font-size: 20px;
        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.splash {
    text-align: center;
    padding: $spacing-unit*2 $spacing-unit/2;
    background: #13547a;
    background: -webkit-linear-gradient(left, #13547a, #80d0c7);
    background: -o-linear-gradient(left, #13547a, #80d0c7);
    background: -moz-linear-gradient(left, #13547a, #80d0c7);
    background: linear-gradient(to right, #13547a, #80d0c7);
    img {
        max-width: 420px;
    }
}

#countdown {
    display: block;
    color: white;
    letter-spacing: 11px;
    font-size: 28px;
    font-weight: 200;
    padding: $spacing-unit 0;
    height: 102px;
    box-sizing: border-box;
    animation: 0.5s ease-out 1s 1 fadeIn;
    // Added cheeky fade so that the countdown doesn't just flash into appearance
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.about {
    padding: $spacing-unit 0;
    text-align: center;
    h1 {
        padding: $spacing-unit 0;
    }
    p {
        max-width: 845px;
        margin: 0 auto $spacing-unit;
        &:first-of-type {
            &::before {
                content: "";
                display: block;
                width: 70%;
                border-top: 1px solid $text-color;
                margin: 0 auto;
                height: $spacing-unit
            }
        }
        &:last-of-type {
            &::after {
                content: "";
                display: block;
                width: 70%;
                border-bottom: 1px solid $text-color;
                margin: 0 auto;
                height: $spacing-unit
            }
        }
    }
}

.works {
    background-color: #eceef1;
    text-align: center;
    h1 {
        padding: $spacing-unit 0;
        margin: 0;
    }
}

.works-grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $spacing-unit;
    .work {
        width: calc(33% - 20px);
        box-sizing: border-box;
        text-align: left;
        background: white;
        margin: $spacing-unit/3;
        a {
            color: $text-color;
            letter-spacing: 2px;
            h2, h3 {
                font-weight: 800;
            }
            h2 {
                margin: 0;
            }
            h2, h3, p {
                padding: 0 $spacing-unit/3
            }
        }
    }
}

.filter-button-group {
    margin-bottom: $spacing-unit;
    button {
        border: none;
        background: transparent;
        font-size: 18px;
        transition: color 0.2s;
        padding: $spacing-unit/2;
        &:hover {
            color: #80d0c7;
        }
        &:active,
        &:focus {
            outline: transparent;
        }
        &.active {
            font-weight: 800;
            &:hover {
                color: $text-color;
            }
        }
    }
}
